<h3>Discussion History</h3>
<hr>
<p class="desc">Take a look at all the comments you have shared on the Launch Base community.</p>

<div class="msg info">Loading data...</div>

<div class="comment-container">
  {{!-- <div class="comment-item container">
    <p class="comment-header">
      <span>You replied to a comment posted under </span>
      <span><strong>Launch Base</strong></span>
      <span class="badge">Just an Idea</span>
    </p>
    <p class="comment-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at dolor ut ante fermentum posuere. Etiam finibus efficitur nulla tempor vulputate. Vestibulum suscipit blandit iaculis. Maecenas non odio eget ipsum elementum hendrerit. Suspendisse sodales ipsum odio, quis varius massa fermentum non. Quisque orci eros, consequat vitae feugiat nec, vulputate non risus. Etiam at lectus ac arcu cursus semper.
    </p>
    <hr>
    <p class="comment-footer">
      <span>3</span>
      <span> Upvotes 👌</span>
      <span class="badge">March 12, 2023</span>
    </p>
  </div> --}}
</div>
