<h3>Your Notifications</h3>
<hr />
<div class='msg info'>Loading data...</div>
<div class='dismiss-header hide'>
  <a href='?view=dismissed' class='idea-link'>View dismissed notifications</a>
  <button class='mini-btn light-btn dismiss-btn'>Dismiss all</button>
</div>
<div id='notification-container'></div>
