<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="/static/just-an-idea/idea.js" defer></script>
    <title>Launch Base | The Idea</title>
</head>
<body>
    <h1 class="logo-title"><a href="/">Launch Base</a></h1>

    <div class="nav-full">
        <a href="/just-an-idea" class="nav-item active">Just an Idea</a>
        <a href="/real" class="nav-item">The Real Thing</a>
        <a href="/perks" class="nav-item">Perks</a>
        <a href="/backstage" class="nav-item">Backstage</a>
    </div>

    <button class="pfp-container"><img class="pfp" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08?s=50&d=mp" alt="pfp"></button>
   
    <div class="container settings-box">
        <div class="side-panel">
            <h2>Just an Idea</h2>
            <a href="/just-an-idea" class="panel-item">Community Ideas</a>
            <a href="/just-an-idea/new" class="panel-item">Create New Idea</a>
            <a href="/just-an-idea/drafts" class="panel-item">My Draft Ideas</a>
            <a href="/just-an-idea/published" class="panel-item">My Published Ideas</a>
        </div>
        <div class="settings-content">
          <h3>The Idea</h3>
          <hr>
          <div class="msg info">Loading data...</div>
          <div id="pending-idea" class="hide">
            <p><strong>Status:</strong> Draft (Private)</p>
            <form id="pending-idea-form">
              <input type="text" placeholder="Idea Name" name="name" required maxlength="256">
              <p class="desc">Give your idea a short and catchy name</p>
  
              <input type="text" placeholder="Description" name="desc" maxlength="256">
              <p class="desc">Provide a very brief explanation of your idea. No more than 2 or 3 sentences.</p>
  
              <textarea name="idea" id="idea" cols="30" rows="10" placeholder="What is it?" maxlength="10000"></textarea>
              <p class="desc">Explain every part of your idea with details</p>
  
              <h4>Additional Links</h4>
              <p class="desc">You can add external links to give the community more information about your ideas.</p>
              <div id="link-inputs">
                <!-- <div class="link-item">
                    <input type="text" placeholder="https://..." maxlength="2048">
                    <button>🗑️</button>
                </div> -->
              </div>
              <button class="new-btn" id="link-btn" type="button">Add a link</button>
              
              <br>
              <p class="msg error hide">There is an error.</p>
              <button id="create-btn" type="submit">Save Draft <span class="submit-icon">👉</span></button>
              <p class="desc">Remember to save every time you make a change!</p>
            </form>
            <hr>
            <h4>Team Members</h4>
            <div id="member-list">
            </div>
            <hr>
            <h4>Pending Invites</h4>
            <div id="invite-list">
              <div class="msg info" id="invite-loader">Loading data...</div>
            </div>
            <form id="invite-member">
              <p style="margin-bottom: 0"><strong>Invite another member</strong></p>
              <div class="email-item">
                <input type="email" name="member" required id="invite-input" placeholder="johndoe@example.com">
                <button type="submit" class="normal-btn invite-btn">Send Invite <span class="invite-icon">👉</span></button>
              </div>
              <div class="msg error hide" id="invite-error"></div>
            </form>
            <hr>
            <h4>Executive Actions</h4>
            <button class="new-btn" style="background-color: #ff5050;" id="leave">Leave this idea 👉</button>
            <button class="new-btn" style="background-color: #04e569;" id="publish">Publish this idea 👉</button>
          </div>
          <div id="published-idea" class="hide">
            <h4 id="idea-name" class="text-center"></h4>
            <p class="desc" id="idea-desc"></p>
            <p id="idea-members"></p>
            <p id="idea-content"></p>
            <br>
            <h5 class="hide" id="link-title">Links</h5>
            <div id="link-container"></div>
            <br>
            <button id="idea-upvote" class="light-btn new-btn"><span id="upvote-text">Upvote</span> <span id="upvote-count"></span><span class="submit-icon">👌</span></button> <p class="no-margin">Like the idea? Give the creators an upvote to show your interest!</p>
            <br>
            <h5>Comments</h5>
            <div id="comment-container" class="container no-margin">
              <div id="comment-loader" class="msg info">Loading data...</div>
              <div id="comment-data" class="hide">
                <p class="comment-count-div"><span id="comment-count"></span></p>
                <textarea id="reply-box" class="full-width" placeholder="What do you think?" rows="5"></textarea>
                <button class="no-margin" id="post-comment">Share a Comment</button>
                <div class="v-spacer"></div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <dialog id="confirm-dialog" class="container">
      <p>Hello world!</p>
    </dialog>

    <dialog id="pfp-dropdown" class="container">
        <a href="#" class="panel-item">Visit your profile</a>
        <a role="button" id="logout-btn" class="panel-item">Logout <span class="lock-icon">🔒</span></a>
    </dialog>
</body>
</html>