<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="/bs-profile.js" defer></script>
    <title>Launch Base | Profile</title>
</head>
<body>
    <a href="/"><h1 class="logo-title">Launch Base</h1></a>

    <div class="nav-full">
        <a href="community" class="nav-item">Just an Idea</a>
        <a href="launch" class="nav-item">The Real Thing</a>
        <a href="grow" class="nav-item">Perks</a>
        <a href="invest" class="nav-item">Backstage</a>
    </div>

    <img class="pfp" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08?s=50&d=mp" alt="pfp">
    
</body>
</html>