<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="/static/login.js" defer></script>
    <title>Launch Base | Log In</title>
</head>
<body>
    <a href="/"><h1 class="logo-title">Launch Base</h1></a>

    <div class="login-box container">
        <h2 class="page-title login-title">Log In</h2>
        <p class="desc">New user? <span class="desc-link"><a href="signup" id="signup-link">Sign up here!</a></span></p>

        <form id="login-form" data-step="verify-email">
            <input type="email" placeholder="Email" class="email-input" required>
            <button type="submit">Next <span class="submit-icon">👉</span></button>
        </form>
    </div>
</body>
</html>