<h3>Update Primary Email</h3>
<hr>
<div>
  <h2 class="login-title">Verify your new email</h2>
  <p class="desc">This will be the main email associated with your account.</p>

  <form id="login-form" data-step="verify-email">
    <input type="email" placeholder="New primary email" class="email-input" required>
    <button type="submit" class="no-margin">Next <span class="submit-icon">👉</span></button>
  </form>
</div>
<br>