<h3>Update Backup Email</h3>
  <hr>
  <div>
    <h2 class="login-title">Verify your new email</h2>
    <p class="desc">This backup email will be associated with your account. You can use it if your primary email is not accessible.</p>

    <form id="login-form" data-step="verify-email">
      <input type="email" placeholder="New backup email" class="email-input" required>
      <button type="submit" class="no-margin">Next <span class="submit-icon">👉</span></button>
    </form>
  </div>
  <br>