<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap" rel="stylesheet">

    <script src="/static/{{jsPath}}.js" defer></script>
    <title>Launch Base | {{title}}</title>
</head>
<body>
  {{> header}}
  {{> profilePic}}
  <div class="container settings-box">
    {{> nav}}
    <div class="settings-content">
      {{{body}}}
    </div>
  </div>
</body>
</html>