<h1 class="logo-title"><a href="/">Launch Base</a></h1>

<div class="nav-full">
    <a href="/just-an-idea" class="nav-item{{#if ideaSection}} active{{/if}}">Just an Idea</a>
    <a href="/the-real-thing" class="nav-item{{#if realSection}} active{{/if}}">The Real Thing</a>
    <a href="/talent" class="nav-item{{#if talentSection}} active{{/if}}">Talent</a>
    <a href="/perks" class="nav-item{{#if perksSection}} active{{/if}}">Perks</a>
    <a href="/backstage" class="nav-item{{#if backstageSection}} active{{/if}}">Backstage</a>
</div>