<div class="side-panel">
    {{#if backstageSection}}

    <h2>Backstage</h2>
    <a href="/backstage/profile" class="panel-item{{#if profilePage}} active-panel-item{{/if}}">Your profile</a>
    <a href="/backstage/email" class="panel-item{{#if emailPage}} active-panel-item{{/if}}">Email settings</a>
    <a href="/backstage/security" class="panel-item{{#if securityPage}} active-panel-item{{/if}}">Security</a>
    <a href="/backstage/dms" class="panel-item{{#if dmsPage}} active-panel-item{{/if}}">DMs</a>
    <a href="/backstage/notifications" class="panel-item{{#if notificationsPage}} active-panel-item{{/if}}">Notifications</a>

    {{else if realSection}}

    <h2>The Real Thing</h2>
    <a href="#" class="panel-item">Community Businesses</a>
    <a href="#" class="panel-item">Launch a new Business</a>
    <a href="#" class="panel-item">My businesses</a>
    <a href="#" class="panel-item">Subscrived businesses</a>

    {{else if perksSection}}

    <h2>Perks</h2>
    <a href="#" class="panel-item">View Perks</a>
    <a href="#" class="panel-item">Activated Perks</a>
    <a href="#" class="panel-item">Request Assistance</a>

    {{else if ideaSection}}

    <h2>Just an Idea</h2>
    <a href="/just-an-idea" class="panel-item{{#if communityIdeasPage}} active-panel-item{{/if}}">Community Ideas</a>
    <a href="/just-an-idea/new" class="panel-item{{#if newIdeaPage}} active-panel-item{{/if}}">Create New Idea</a>
    <a href="/just-an-idea/drafts" class="panel-item{{#if draftIdeasPage}} active-panel-item{{/if}}">My Draft Ideas</a>
    <a href="/just-an-idea/published" class="panel-item{{#if publishedIdeasPage}} active-panel-item{{/if}}">My Published Ideas</a>

    {{/if}}
</div>