<button class="pfp-container"><img class="pfp" id="pfp" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08?s=50&d=mp" alt="pfp"></button>

<dialog id="pfp-dropdown" class="container">
    <a href="#" class="panel-item" id="public-profile">Visit your profile</a>
    <a href="https://github.com/users/smashfries/projects/3" class="panel-item" target="_blank">Roadmap</a>
    <a href="/contact" class="panel-item">Contact/Support</a>
    <a role="button" id="logout-btn" class="panel-item">Logout <span class="lock-icon">🔒</span></a>
</dialog>