<button class="pfp-container"><img class="pfp" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08?s=50&d=mp" alt="pfp"></button>

<dialog id="pfp-dropdown" class="container">
    <a href="#" class="panel-item">Visit your profile</a>
    <a role="button" id="logout-btn" class="panel-item">Logout <span class="lock-icon">🔒</span></a>
</dialog>