<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="/static/backstage/email/update-primary.js" defer></script>
    <title>Launch Base | Update Primary Email</title>
</head>
<body>
    <h1 class="logo-title"><a href="/">Launch Base</a></h1>

    <div class="nav-full">
        <a href="/just-an-idea" class="nav-item">Just an Idea</a>
        <a href="/the-real-thing" class="nav-item">The Real Thing</a>
        <a href="/perks" class="nav-item">Perks</a>
        <a href="/backstage" class="nav-item active">Backstage</a>
    </div>

    <button class="pfp-container"><img class="pfp" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08?s=50&d=mp" alt="pfp"></button>
   
    <div class="container settings-box">
        <div class="side-panel">
            <h2>Backstage</h2>
            <a href="/backstage/profile" class="panel-item">Your profile</a>
            <a href="/backstage/email" class="panel-item active-panel-item">Email settings</a>
            <a href="/backstage/security" class="panel-item">Security</a>
            <a href="/backstage/dms" class="panel-item">DMs</a>
            <a href="/backstage/notifications" class="panel-item">Notifications</a>
        </div>
        <div class="settings-content">
            <h3>Update Primary Email</h3>
            <hr>
            <div>
              <h2 class="login-title">Verify your new email</h2>
              <p class="desc">This will be the main email associated with your account.</p>

              <form id="login-form" data-step="verify-email">
                <input type="email" placeholder="New primary email" class="email-input" required>
                <button type="submit" class="no-margin">Next <span class="submit-icon">👉</span></button>
              </form>
            </div>
            <br>
        </div>
    </div>

    <dialog id="pfp-dropdown" class="container">
        <a href="#" class="panel-item">Visit your profile</a>
        <a role="button" id="logout-btn" class="panel-item">Logout <span class="lock-icon">🔒</span></a>
    </dialog>
</body>
</html>